.purchase-history {
  grid-row: content-s/content-e;
  grid-column: s/e;

  &__page-title {
    border-bottom: 1px solid #ccc;
  }

  &__border-bottom {
    border-bottom: 1px solid #f2f2f2;
  }
}

.purchases {
}

.purchase-details {
}
